@import "variables.scss";
@import "reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "~@fontsource/montserrat/index.css";

body { 
    font-family: "Montserrat"; 
    background-color: $bg-color;
    color: $text-color;
}

.navbar {
    background-color: $bg-color-components;
    margin-bottom: 100px;
    img {
        width: 3%;
    }
}

.card {
    background-color: $bg-color-components;
    min-height: 430px;
    .card-img-top {
        padding: 15px;
    }
    .card-title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    .card-text {
        color: grey;
        text-align: center;
        ul {
            padding-left: 0;
            li {
            list-style: none;
            font-weight: bold;
            }
        }
    }
}

.form-select {
    margin-bottom: 15px;
}